<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django DavisHack</title>
    <script src="../../static/spineReplacement/jquery-3.1.1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../static/spineReplacement/materialize.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../../static/spineReplacement/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/spineReplacement/main.css">
    <script>
      $(document).ready(function(){
        $('.parallax').parallax();
      });
    </script>
</head>

<body>

  <nav>
    <div class="nav-wrapper light-blue z-depth-0">
      <!-- <div class="bs-logo"> -->
      <a href="#" class="brand-logo"><i class="material-icons md-36 amber-text">group_work</i>Carecost</a>
      <!-- </div> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Add your Story</a></li>
        <li><a href="">About Us</a></li>
        <!-- <li><a href="">JavaScript</a></li> -->
      </ul>
    </div>
  </nav>
  <form action="/maps" method="get">
    <div class="parallax-container valign-wrapper">
      <div class="parallax">
        <img src="../../static/spineReplacement/brain_skull.jpeg">
      </div>
      <!-- IGNORE THIS HACKY BULLSHIT AND DON'T TOUCH -->

      <div class="bs-input-wrap z-depth-5">
        <div class="input-field container center valign">
          <p class='bs-text'>Search by medical procedure and find the cost of care in your area!</p>
          <!-- <i class="material-icons prefix">mode_edit</i> -->
          <input class='bs-input' type="text" id='search'>
          <input class='amber waves-effect waves-light btn' type="submit" name="" value="Find my procedure!">
        </div>
      </div>
      <div class="bs-input-wrap sub z-depth-5 white">
        <div class="input-field container center valign">
          <p class='bs-text'>Search by medical procedure and find the cost of care in your area!</p>
          <!-- <i class="material-icons prefix">mode_edit</i> -->
          <input class='bs-input' type="text" id='search' name="procedure">
          <input disable class='amber waves-effect waves-light btn' type="submit" name="" value="Find my procedure!">
        </div>
      </div>
      <!-- SUPER HORRIBLE HACKY BULLSHIT ENDS HERE -->
    </div>
  </form>
  <div class="bs-middle section light-blue z-depth-1">
    <div class="row white-text">

      <div class="col s4 center">
        <i class="material-icons md-48 amber-text">equalizer</i>
        <h4>Explore</h4>
        <p>With Carecost, you can explore crowd-sourced data on the actual cost of Care in your area.</p>
        </div>
      <div class="col s4 center">
        <i class="material-icons md-48 amber-text">person_pin</i>
        <h4>Share</h4>
        <p>Contribute your experience with Carecost to help build a transparent database for Health Care pricing. </p>
      </div>
      <div class="col s4 center">
        <i class="material-icons md-48 amber-text">web</i>
        <h4>Develop</h4>
        <p>Using our RESTful API, developers can build their own apps using the data we crowd-source!</p>
      </div>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="../../static/spineReplacement/clinic_sad.jpeg">
    </div>
  </div>
  <footer class="page-footer light-blue">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">All Rights Reserved</h5>
             <p class="grey-text text-lighten-4">This is legal data that should not really be visible for the demo so who cares what I put in here anyway.</p>
           </div>
           <div class="col l4 offset-l2 s12">

           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2016 Copyright Brendan, Amy, Anna, and Ketul
         <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
         </div>
       </div>
  </footer>


</body>
</html>
