<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Map Sample</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../static/spineReplacement/jquery-3.1.1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../static/spineReplacement/materialize.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../../static/spineReplacement/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/spineReplacement/main.css">
    <link rel="stylesheet" href="../../static/spineReplacement/maps.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue z-depth-0">
        <!-- <div class="bs-logo"> -->
        <a href="#" class="brand-logo"><i class="material-icons md-36 amber-text">group_work</i>Carecost</a>
        <!-- </div> -->
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Sass</a></li>
          <li><a href="">Components</a></li>
          <li><a href="">JavaScript</a></li>
        </ul> -->
      </div>
    </nav>

    <div class="container">


      <div class="row">
        <div class="col-md-2">
          <div id="wrapper">
            <div class="overlay"></div>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                           Carecost
                        </a>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cancer<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Surgery</a></li>
                        <li><a href="#">Chemotherapy</a></li>
                        <li><a href="#">Radiation therapy</a></li>
                        <li><a href="#">Immunotherapy</a></li>
                        <li><a href="#">Stem cell transplant</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cardiovascular<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Angioplasty</a></li>
                        <li><a href="#">Coronary artery bypass grafting</a></li>
                      </ul>
                    </li>
                    <li>
                        <a href="#">Colon and rectal surgery</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dental<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Root canal</a></li>
                        <li><a href="#">Prosthodontics</a></li>
                        <li><a href="#">Orthodontics</a></li>
                        <li><a href="#">Maxillofacial surgery</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dermatology<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Tattoo removal</a></li>
                        <li><a href="#">Vein therapy</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Infectious Diseases<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Tuberculosis</a></li>
                        <li><a href="#">Measles</a></li>
                        <li><a href="#">Malaria</a></li>
                        <li><a href="#">Meningococcal meningitis</a></li>
                        <li><a href="#">HIV / AIDS</a></li>
                        <li><a href="#">Pneumonia</a></li>
                        <li><a href="#">Rubella</a></li>
                        <li><a href="#">Hepatitis B</a></li>
                        <li><a href="#">Yellow fever</a></li>
                        <li><a href="#">Influenza</a></li>
                        <li><a href="#">Cholera</a></li>
                        <li><a href="#">Leprosy</a></li>
                        <li><a href="#">Smallpox</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Neurosurgery<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Nerve transfer</a></li>
                        <li><a href="#">Spine replacement</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orthopedic surgery<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Total joint reconstruction</a></li>
                        <li><a href="#">Shoulder and elbow surgery</a></li>
                        <li><a href="#">Foot and ankle surgery</a></li>
                        <li><a href="#">Hip replacement</a></li>
                        <li><a href="#">Spinal fusion</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plastic and reconstructive surgery<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Cleft lip and palate</a></li>
                        <li><a href="#">Scar revision</a></li>
                        <li><a href="#">Tissue expansion</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pulmonary medicine<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Lung transplant</a></li>
                        <li><a href="#">Atrial septostomy</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women's health<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!-- <li class="dropdown-header">Dropdown heading</li> -->
                        <li><a href="#">Hysterectomy</a></li>
                        <li><a href="#">Hormone replacement therapy</a></li>
                        <li><a href="#">Abortion</a></li>
                      </ul>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <!-- <button type="button" class="hamburger is-closed" data-toggle="offcanvas"> -->
                    <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
                </button>

            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
      </div> <!-- col -->
      <!-- <div class="col-md-10">
          <h1>Results {{id}}</h1>
      </div> -->
        </div><!-- row -->
  </div> <!-- container -->
    <div id="map"></div>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPTEusgaWURSfI-wEEsx61PLuwy1WvJu8&callback=initMap">
    </script>
    <script type="text/javascript" src="../../static/spineReplacement/maps.js"></script>
  </body>
  <script>

  $(document).ready(function () {
//   var trigger = $('.hamburger'),
//       overlay = $('.overlay'),
//      isClosed = false;
// trigger.addClass('is-open');
$('#wrapper').toggleClass('toggled');
    // trigger.click(function () {
    //   hamburger_cross();
    // });

  //   function hamburger_cross() {
  //
  //     if (isClosed == true) {
  //       overlay.hide();
  //       trigger.removeClass('is-open');
  //       trigger.addClass('is-closed');
  //       isClosed = false;
  //     } else {
  //       overlay.show();
  //       trigger.removeClass('is-closed');
  //       trigger.addClass('is-open');
  //       isClosed = true;
  //     }
  // }
  //
  // $('[data-toggle="offcanvas"]').click(function () {
  //       $('#wrapper').toggleClass('toggled');
  // });

});


</script>
</html>
