<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../static/spineReplacement/jquery-3.1.1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../static/spineReplacement/materialize.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../../static/spineReplacement/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style media="screen">
      .form-wraps{
        padding: 20px;
      }
    </style>
    <link rel="stylesheet" href="../../static/spineReplacement/main.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue z-depth-0">
        <!-- <div class="bs-logo"> -->
        <a href="{% url 'index' %}" class="brand-logo"><i class="material-icons md-36 amber-text">group_work</i>Carecost</a>
        <!-- </div> -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class='active'><a href="">Add your Story</a></li>
          <li><a href="">About Us</a></li>
          <!-- <li><a href="">JavaScript</a></li> -->
        </ul>
      </div>
    </nav>

    <div class="form-wraps">
      <div class="row">
       <form class="col s12">
         <div class="row">
           <!-- {{hospitals}} -->
           <div class="input-field col s6">
            <select>
                <option value="" disabled selected>Choose a Hospital</option>
              {% for hospital in hospitals %}
                <option value="{{hospital.name}}">{{hospital.name}}</option>
              {% endfor %}
            </select>
            <label>Hospital</label>
          </div>
            <div class="input-field col s6">
             <select>
               <option value="" disabled selected>Choose a Procedure</option>
              {% for p in procedures %}
               <option value="{{p.name}}">{{p.name}}</option>
              {% endfor %}
             </select>
             <label>Procedure</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s6">
             <input id="cost" type="text" class="validate">
             <label for="cost">Cost</label>
           </div>
           <div class="input-field col s6">
             <input id="date" type="date" class="validate datepicker">
             <!-- <label for="date">Date</label> -->
           </div>
         </div>
         <div class="row">
           <div class="input-field col s6">
             <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
           </div>
         </div>
       </form>
     </div>
   </div>

  </body>
</html>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

</script>
